@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");


@media (max-width: 768px) {
    .col-md-6 {
      width: 100%;
    }
  }


  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

  
table {
  width: 100%;
  /* font-family: "Poppins", sans-serif; */
  margin-bottom: 50px;
}

.no-wrap {
    white-space: nowrap;
}

.fixed {
    table-layout: fixed;
}

.square {
    height: 200px;
    width: 200px;
    background-color: #E0E0E0;
    border: 2px solid;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    font-family: "Open Sans", sans-serif;
}


.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.mdc-data-table__header-cell{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
}

.mdc-data-table__cell{
    font-family: "Poppins", sans-serif;
    text-align: center;
}



.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
    flex: 0 0 40px;
    text-align: center;
}

.mat-cell:nth-child(5),
.mat-header-cell:nth-child(5) {
    flex: 0 0 40px;
}

.mat-sort-header-container {
    font-size: larger;
    font-weight: bolder;
}

:host ::ng-deep.mat-paginator .mat-paginator-container {
    justify-content: flex-start !important;
    display: flex !important;
    align-items: center !important;
    min-height: 46px !important;
    padding: 0 8px;
    flex-wrap: wrap-reverse;
    width: 100%;
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif !important;
}

.btn {
    text-transform: none;
}

.mat-sort-header-button {
    font-size: larger !important;
    font-weight: bold !important;

}


  